/BackUp
/Form
/Test
Crc.au3
CRC-Maker.au3
IT-Functions_.au3
IT-Functions-for-tests.au3
IT-Helper-for-tests.au3
IT-Helper_stripped.au3
CRC-Maker.exe
_main_stripped.au3
MakePass.au3
StringEncryptNormal.au3
IT-Helper.zip
IT-Helper.exe
